#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube Music
Exec=flatpak 'run' '--command=brave' 'com.brave.Browser' '--profile-directory=Default' '--app-id=cinhimbnkkaeohfgghhklpknlkffjgod'
Icon=brave-cinhimbnkkaeohfgghhklpknlkffjgod-Default
StartupWMClass=crx_cinhimbnkkaeohfgghhklpknlkffjgod
X-Flatpak-Part-Of=com.brave.Browser
TryExec=/var/lib/flatpak/exports/bin/com.brave.Browser
