[Desktop Entry]
Keywords[fr]=Moniteur;Système;Processus;CPU;Mémoire;Réseau;Historique;Utilisation;Performance;Tâche;Activité;
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;
